---
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
ColumnLimit: 0
UseTab: Never
IndentWidth: 4
MaxEmptyLinesToKeep: 2
LineEnding: LF
Language: Cpp
RemoveBracesLLVM: false
BraceWrapping: {}
